.contacts {
font-size: 25px;
position: relative;
}

.tech {
    font-size: 25px;
    font-style: italic;
    position: relative;
}

h3{
    font:700;
}

h1{
    font:900;
    font-size: 36px;
   text-align: center;
}

body{
    background-color: #5da130;
}

p{
    font-size: 20px;
    text-align: center;
}

.logo {
    position: absolute;
top: 0px;
}
