body {
    width: 1440px;
    margin: 0;
    
}

nav  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #EDF2EC;
    height: 134px;
    padding-left: 111px;
    padding-right: 109px;
    
}

.logo {
    display: flex;
    align-items: center;
}

.menu {font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    list-style-type: none;
    color: #010201;
}

.inline {
    display: inline;
    margin-right: 46px;
}

.menu-home{
    color: #E06733;
}    

.welcome {
    padding-left: 109px;
    padding-right: 109px;
    height: 532px;
    
    background: #EDF2EC;
    
}

.welcomeRight {
    display: flex;
     justify-content: right;
}

.welcomeImg {
    position: absolute;

}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;


}

.button-welcome{
    border: 2px solid #E06733;
    border-radius: 10px;
    display: flex;
     justify-content: right;
}

.service{
    width: 1440px;
height: 1300px;
background: #EDF2EC;
}

.serviceimg{
    border-radius: 20px 20px 0px 0px;
}
.contacts{
width: 1440px;
height: 550px;
background: #EDF2EC;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-left: 111px;
    padding-right: 109px;
    width: 1440px;
    height: 130px;
    left: 0px;
    top: 3740px;
    background: #FFFFFF;

    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 50px;
}


.footer {
    display: inline;
    margin-right: 30px;
     
}

.footerRight {
    justify-content: right;
}

